<?xml version="1.0"?>
<launch>
  <arg name="version" default="rb1_robot_j2s7s300.urdf.xacro" />
  <arg name="prefix" default="rb1"/>

  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find rb1_description)/robots/$(arg version)' prefix:=$(arg prefix)" />

  <!-- publish tfs through the robot_state_publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

</launch>

