<?xml version="1.0"?>
<robot>

  <!-- gazebo>
    <plugin name="ros_control" filename="libgazebo_ros_control.so">
       <robotNamespace>/rb1_gripper</robotNamespace>
       <controlPeriod>0.002</controlPeriod>
	   <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
    </plugin>
  </gazebo -->

  <gazebo reference="base_link_gripper">
    <material>Gazebo/Grey</material>
  </gazebo>

  <gazebo reference="link_finger1">
    <material>Gazebo/Black</material>
  </gazebo>

  <gazebo reference="link_finger2">
    <material>Gazebo/Black</material>
  </gazebo>


</robot>
