<?xml version="1.0"?>
<robot name="rb1" xmlns:xacro="http://www.ros.org/wiki/xacro"> 

	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->
	
	<!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

	<!-- Import RB1 base -->
	<xacro:include filename="$(find rb1_base_description)/robots/rb1_base_platform.urdf.xacro" />

	<!-- Import RB1 torso -->
	<xacro:include filename="$(find rb1_torso_description)/robots/rb1_torso.urdf.xacro" />

	<!-- Import RB1 arm -->
	<xacro:include filename="$(find rb1_arm_description)/robots/rb1_arm.urdf.xacro" />

	<!-- Gazebo ros control plugins -->
	<!-- xacro:ros_control/ -->

    <!-- gazebo>
      <plugin name="ros_control" filename="libgazebo_ros_control.so">		
        <robotNamespace>/rb1</robotNamespace>
        <robotParam>robot_description</robotParam>
        <controlPeriod>0.001</controlPeriod> 
	    <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
      </plugin>
    </gazebo -->


	<!-- Fix torso to base -->
	<joint
	  name="j_base_torso"
      type="fixed">
    <origin
      xyz="0.0 0.0 0.0"
      rpy="0.0 0.0 0.0" />
    <parent
      link="base_link" />
    <child
      link="base_link_rb1_torso" />
    <axis
      xyz="0 0 0" />
  </joint>

  <!-- Fix arm to torso -->
  <joint
	  name="j_torso_arm"
      type="fixed">
    <origin
      xyz="0.074 0.0 0.668"
      rpy="0.0 0.0 0.0" />
    <parent
      link="link2_torso" />
    <child
      link="base_link_rb1_arm" />
    <axis
      xyz="0 0 0" />
  </joint>
	

</robot>
