<?xml version="1.0"?>
<robot name="rb1" xmlns:xacro="http://www.ros.org/wiki/xacro"> 

	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->

	<!-- Import RB1 base -->
  	<xacro:include filename="$(find rb1_base_description)/urdf/bases/rb1_base_platform_kinova.urdf.xacro" />

	<!-- Import RB1 torso -->
	<xacro:include filename="$(find rb1_torso_description)/urdf/rb1_torso_std.urdf.xacro" />
    
	<!-- Import all available sensors -->
	<xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />

	<!-- Import jaco arm -->
	<xacro:include filename="$(find kinova_description)/urdf/j2s7s200.xacro" />

    <!-- Import Gazebo Stuff -->
    <xacro:include filename="$(find rb1_base_description)/urdf/common.gazebo.xacro" />

	<!-- ***************** -->
	<!-- Global parameters -->
	<!-- ***************** --> 

	<xacro:property name="PI" value="3.1415926535897931"/>  
	<xacro:arg name="prefix" default="rb1_" />

	<!-- Flag to select the high or low quality model -->
	<xacro:property name="hq" value="true" />

	<!-- ***************** -->
	<!-- Gazebo ROS control-->
	<!-- ***************** -->

	<xacro:ros_control />
	<xacro:gazebo_colors prefix="$(arg prefix)" />

	<!-- ****************** -->
	<!-- Instanced elements -->
	<!-- ****************** -->

	<!-- Instance rb1_base -->
	<xacro:rb1_base prefix="$(arg prefix)" />
	
	<!-- Instance torso -->
	<link name="torso_base_link" />
	<xacro:rb1_torso base_parent="torso_base_link" />

	<!-- Instance jaco arm -->
	<link name="arm_base_link" />
	<xacro:j2s7s200 base_parent="arm_base_link" />


	<!-- ************* -->
	<!-- Create joints -->
	<!-- ************* -->

	<!-- Fix torso to rb1_base -->
    <joint name="j_base_torso" type="fixed">
      <origin xyz="-0.133 0.0 0.213" rpy="0.0 0.0 0.0" />
      <parent link="rb1_base_link" />
      <child link="torso_base_link" />
      <axis xyz="0 0 0" />
    </joint>
  
	<!-- Fix arm to torso -->
	<joint name="j_torso_arm" type="fixed">
		<origin xyz="0.05 0.0 0.0" rpy="0.0 0.0 0.0" />    
		<parent link="torso_slider_link" />
		<child link="arm_base_link" />
		<axis xyz="0 0 0" />
	</joint>

	<!-- Front camera scan link -->
	<link name="$(arg prefix)front_rgbd_camera_depth_optical_scan_frame" />

	<joint name="$(arg prefix)front_rgbd_camera_depth_optical_scan_joint" type="fixed">
		<origin xyz="0 0 0" rpy="${PI/2} 0 0" />
		<parent link="$(arg prefix)front_rgbd_camera_depth_optical_frame" />
		<child link="$(arg prefix)front_rgbd_camera_depth_optical_scan_frame" />
		<axis xyz="0 0 0" />
	</joint>

	<!-- Torso camera scan link -->
	<link name="$(arg prefix)torso_rgbd_camera_depth_optical_scan_frame" />

	<joint name="$(arg prefix)torso_rgbd_camera_depth_optical_scan_joint" type="fixed">
		<origin xyz="0 0 0" rpy="${PI/2} 0 0" />
		<parent link="$(arg prefix)torso_rgbd_camera_depth_optical_frame" />
		<child link="$(arg prefix)torso_rgbd_camera_depth_optical_scan_frame" />
		<axis xyz="0 0 0" />
	</joint>

</robot>
