<?xml version="1.0"?>
<robot name="rb1" xmlns:xacro="http://www.ros.org/wiki/xacro"> 

	<!-- ***************** -->
	<!-- Global parameters -->
	<!-- ***************** -->  
	<xacro:property name="PI" value="3.1415926535897931"/>  

	<!-- Flag to select the high or low quality model -->
	<xacro:property name="hq" value="false" />


	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->
	
	<!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

	<!-- Import RB1 base -->
	<xacro:include filename="$(find rb1_base_description)/robots/rb1_base_platform_v3.urdf.xacro" />
	
	<xacro:include filename="$(find rb1_base_description)/urdf/others/tayg_box_6415.urdf.xacro" />

	<!-- Import RB1 torso -->
	<xacro:include filename="$(find rb1_torso_description)/urdf/rb1_torso_3dof_v3.urdf.xacro" />
    
	<!-- Import all available sensors -->
	<xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />

	<!-- Import Jaco Arm -->	
	<xacro:include filename="$(find kinova_description)/urdf/j2n6s300.xacro" />
	
 

    <!-- base is added automatically when including xacro -->

    <!-- add torso -->
    <xacro:rb1_torso_3dof hq="false"/>

	<!-- Fix torso to base -->
	<joint
	  name="base_torso_joint"
      type="fixed">
    <origin
      xyz="0.0 0.0 0.223"
      rpy="0.0 0.0 0.0" />
    <parent
      link="base_link" />
    <child
      link="torso_base_link" />      
    <axis
      xyz="0 0 0" />
  </joint>

  <!-- add camera to head -->
      <!-- RGBD sensor -->
    <xacro:sensor_orbbec_astra prefix="head_camera" parent="head_tilt_link">
        <origin xyz="0.055 0.0125 0.028" rpy="0 0 0"/>
    </xacro:sensor_orbbec_astra>


  <!-- Fix arm to torso -->
  <joint
	  name="torso_arm_joint"
      type="fixed">
    <!--origin
      xyz="0.055 0.0 0.0755"
      rpy="0.0 0.0 0.0" / -->
    <origin
      xyz="0.0 0.0 0.075"
      rpy="0.0 0.0 0.0" />
    <parent
      link="torso_slider_link" />
    <child
      link="torso_arm_link" />
    <axis
      xyz="0 0 0" />
  </joint>
   <link name="torso_arm_link" />	
  <!-- arm -->    
  <xacro:j2n6s300 base_parent="torso_arm_link"/>

  <!-- box -->
  <xacro:tayg_box parent="top_cover_link" prefix="base_">
	     <origin xyz="0.175024 0 0.003" rpy="0 0 0" />
  </xacro:tayg_box>
	<!-- Gazebo ros control pluggins -->
	<!-- xacro:ros_control/ -->
	    

</robot>
