<?xml version="1.0"?>
<robot name="rb1_torso" xmlns:xacro="http://www.ros.org/wiki/xacro"> 

	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->	
	<!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

	<!-- Import RB1 arm elements -->
	<xacro:include filename="$(find rb1_torso_description)/urdf/rb1_torso_3dof.urdf.xacro" />

	<!-- Import all available sensors -->
	<xacro:include filename="$(find robotnik_sensors)/urdf/all_sensors.urdf.xacro" />
	
	<!-- ***************** -->
	<!-- Global parameters -->
	<!-- ***************** -->  
	<xacro:property name="PI" value="3.1415926535897931"/>
  	
	<!-- Flag to select the high or low quality model -->
	<xacro:property name="hq" value="true" />

	<!-- RB-1 torso -->
	<xacro:rb1_torso_3dof name="rb1_torso_3dof" hq="${hq}" />

	<!-- Ixtion sensor in head -->
	<xacro:sensor_asus_xtion_pro prefix="xtion_head" parent="link2_head">		
        <origin xyz="0.055 0.000 0.028" rpy="0 0 0"/> 
   </xacro:sensor_asus_xtion_pro> 

	<!-- Gazebo ros control plugins -->
	<!-- xacro:ros_control/ -->

</robot>
