<?xml version="1.0"?>
<robot name="arm_link" xmlns:xacro="http://www.ros.org/wiki/xacro"> 

  <xacro:macro name="arm_link" params="name hq parent num">
  
  <link name="link${num}_rb1_arm">
    <inertial>
      <mass value="0.5" />
      <origin xyz="0 0 0" />
      <inertia  ixx="0.01" ixy="0.0"  ixz="0.0"  iyy="0.01"  iyz="0.0"  izz="0.01" />
    </inertial>
    <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <xacro:if value="${hq}">
       <geometry>
	     <mesh filename="package://rb1_arm_description/meshes/arms/armRB1_${num}_link.dae"/>
       </geometry>
       </xacro:if>
       <xacro:unless value="${hq}">
       <geometry>
       <mesh filename="package://rb1_arm_description/meshes/arms/armRB1_${num}_link.stl"/>
       </geometry>
       </xacro:unless>
       <material name="darkgrey">
         <color rgba="0.1 0.1 0.1 1"/>
       </material>
    </visual>  
    <collision>
       <origin xyz="0 0 0" rpy="0 0 0 " />
       <geometry>
         <mesh filename="package://rb1_arm_description/meshes/arms/armRB1_${num}_link.dae"/>
       </geometry>
    </collision>
  </link>

  <link name="motor${num}_rb1_arm">
    <inertial>
      <mass value="0.5" />
      <origin xyz="0 0 0" />
      <!--inertia  ixx="0.01" ixy="0.0"  ixz="0.0"  iyy="0.01"  iyz="0.0"  izz="0.01" /-->
      <inertia ixx="0.02661733557" ixy="0.00029270634" ixz="0.00392189887" iyy="0.02844355207" iyz="0.0010838933" izz="0.01248008322"/>
 
    </inertial>
    <visual>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <xacro:if value="${hq}">
       <geometry>
	     <mesh filename="package://rb1_arm_description/meshes/arms/armRB1_${num}_motor.dae"/>
       </geometry>
       </xacro:if>
       <xacro:unless value="${hq}">
       <geometry>
       <mesh filename="package://rb1_arm_description/meshes/arms/armRB1_${num}_motor.stl"/>
       </geometry>
       </xacro:unless>
       <material name="darkgrey">
         <color rgba="0.1 0.1 0.1 1"/>
       </material>
    </visual>  
    <collision>
       <origin xyz="0 0 0" rpy="0 0 0 " />
       <geometry>
         <mesh filename="package://rb1_arm_description/meshes/arms/armRB1_${num}_motor.dae"/>
       </geometry>
    </collision>
  </link>

  <joint
    name="j${num}m_rb1_arm"
    type="fixed">
    <origin
      xyz="0.0 0.0 0.0"
      rpy="0.0 0.0 0.0" />
    <parent
      link="link${num}_rb1_arm" />
    <child
      link="motor${num}_rb1_arm" />
    <axis
      xyz="0 0 0" />
  </joint>

  </xacro:macro>
</robot>
  
